@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #091921;
}
.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../files/images/clock.png);
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.clock.active {
  box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  border: 4px solid #e0e0e0;
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1000;
}
.clock.active::before {
  background-color: #091921;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}
.clock .hour .hr {
  width: 160px;
  height: 160px;
}
.clock .min .mn {
  width: 190px;
  height: 190px;
}
.clock .sec .sc {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn.active::before {
  background-color: #091921;
}
.sc.active::before {
  background-color: #091921;
}
.mn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #fff;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.sc::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: #fff;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
/* Toggle Button */
.toggle {
  width: 90px;
  height: 40px;
  background-color: lightcyan;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  display: flex;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.03), 0 5px 15px rgba(0, 0, 0, 0.03),
    0 5px 15px rgba(255, 255, 255, 0.3), 0 -5px 15px rgba(255, 255, 255, 0.3);
  align-items: center;
}
.toggle .indicator {
  background-color: orange;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-left: 2%;
  position: absolute;
  transition: 0.5s;
}

.toggle.active .indicator {
  right: 2%;
}
.toggle.active {
  background-color: #555;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.3),
    0 5px 15px rgba(0, 0, 0, 0.3), 0 -5px 15px rgba(0, 0, 0, 0.3);
}
body.active {
  background-color: #fff;
}
/* Start Digital Clock */

.digital-clock {
  font-family: sans-serif;
  font-size: 3em;
  color: #e0e0e0;
  position: relative;
  display: none;
}
.digital-clock.active {
  color: #091921;
}

/* .digital-clock :nth-child(1) {
  width: 500px;
}

.digital-clock :nth-child(3) {
  width: 500px;
}

.digital-clock :nth-child(5) {
} */

/* End Digital Clock */
